.Sales {
    padding: 25px 150px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Sales__headline {
    text-align: center;
    align-self: center;
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .Sales {
        padding: 25px;
    }
}